<div class="row bg-dark">
    <div class="col-md-12">
      <div class="p-3 mb-2 bg-dark text-white" >
      <%=image_tag("mainpage", class: "mx-auto d-block")%>
      </div>
    </div>

</div>


<div class="row">
  <%= link_to "Yeni Mesaj" , new_article_path, :class => "btn btn-primary btn-lg" %>
</div> 



<br>
<!-- Page Content -->
<div class="container">
  <!-- Page Features -->
  <div class="row text-center">
    
    <% @articles.each do |article|%>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100 bg-dark mx-auto d-block">
          <%=image_tag("servi", :class=>"rounded-circle", :size=>"140x140")%>
          <div class="card-body bg-dark">
            <h4 class="card-title"><%=article.title%></h4>
            <p class="card-text"><%=article.body%></p>
          </div>
          <div>
            <h6 class="card-subtitle mb-2 text-muted"><%article.id%></h6>
          </div>
          <div class="card-footer">
          <%= link_to "Göster", article, :class => "btn btn-success btn-lg" %>
          </div>
        </div>
      </div>


      <% end %>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


