<div class="row bg-dark">
    <div class="col-md-12">
      <div class="p-3 mb-2 bg-dark text-white" >
      <%=image_tag("mainpage", class: "mx-auto d-block")%>
      </div>
    </div>

</div>


<div class="row text-white">
  <button type="button" class="btn btn-warning"><%= link_to "Yeni Mesaj" , new_article_path %></button>
</div> 

<div class="row bg-dark">
    <div class="col-md-12">
      <% @articles.each do |article|%>

                <div class="card mx-auto d-block" style="float:left;">
                    <div class="card text-white bg-dark" style="width: 14rem;">
                      <div class="card-body mx-auto d-block text-white">
                          <%=image_tag("servi", :class=>"rounded-circle", :size=>"140x140")%>
                          <div>
                            <h4 class="card-title"><%=article.title%></h5>
                          </div>

                          <div>
                            <h6 class="card-subtitle mb-2 text-muted"><%article.id%></h6>
                          </div>
                          
                          <div>
                            <p class="card-text"><%=article.body%></p>
                          </div> 
                                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                      <button type="button" class="btn btn-info"><%= link_to "Göster", article %></button>
                                  </div>   
                          </div>
                        </div>
                </div>
      <% end %>
      
    </div>
</div>
